*,
after,
before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 340px;
    height: 500px;
    text-align: center;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.qr{
    width: 300px;
    border-radius: 10px;
}

.head{
    margin: 15px auto;
}

.paragraph{
    width: 280px;
}


